.rateBox{
    height: 300px;
    width: 400px;
    background-color: black;
    border-radius: 20px;
    margin-top: 30px;
}

.rateBoxImg{
    border-radius: 15px;
    margin-top: -10px;
    margin-left: 40px;
    border: 5px solid rgb(218, 64, 64);
}

.flexBox{
    display: flex;
}

.name{
    margin-left: 30px;
    width: 10px;
}