.txt{
    font-size: 30px;
    font-weight: 700;
    margin-right: 70px;
}


.contentcontainer{
    background-color: rgb(15, 39, 173);
    color: aliceblue;
    
}

.txt2{
    color: aliceblue;
    font-size: 35px;
    font-weight: 900;
    margin-left: 375px;
}


