.mainBox2{
    
    margin-top: -550px;
    width: 1200px;
    
}


.btn4{
    height: 60px;
    width: 320px;
    margin-top: 40px;
    font-size: 18px;
    color: rgb(99, 148, 237);
    background-color: white;
    border-color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn4:hover{
    background: rgb(99, 148, 237);
    color: white;
    border: 1px solid white;
    transition: 0.3s;
}


.img2{
    border-radius: 270px;
}

.txt{
    font-size: 50px;
    color: rgb(255, 255, 255);
}